VITE_CONVEX_URL=https://your-deployment.convex.cloud
VITE_WORD_REPORT_PHONE_NUMBER=34600000000
VITE_WORD_LIST_BUTTON_ENABLED=true
VITE_WORD_REPORT_BUTTON_ENABLED=true
VITE_PAYPAL_DONATION_BUTTON_ENABLED=true
VITE_SHARE_BUTTON_ENABLED=true
VITE_DEV_CONSOLE_ENABLED=true
VITE_SOUND_ENABLED=true
VITE_HINTS_ENABLED=true
VITE_HELP_BUTTON_ENABLED=true
VITE_SETTINGS_DRAWER_ENABLED=true
VITE_PLAY_OFFLINE_STATE_ENABLED=false
SOUND_ENABLED=true
HINTS_ENABLED=true
HELP_BUTTON_ENABLED=true
SETTINGS_DRAWER_ENABLED=true
VITE_SCORE_LIMIT=10
VITE_WORDLE_GAME_STORAGE_KEY=wordle:game
